@page
@model Luckystack3.indexModel
@{
    ViewData["Title"] = "index";
}
<!--标题-->
<h1>一起帮·源栈欢迎您！</h1>
<h2>飞哥祝你学习进步，早日年薪过万！</h2>
<h6>要努力啊！</h6>
<!--还可以有h3,h4,h5,h6-->
<!--段落-->
    <p>
    你觉得这些选择本身，真的能够决定你的人生成败么？真正决定成败的，不是你选择之后的付出和努力么？你只是不敢选！所以随波逐流。你需要精神的力量，所谓勇气。而勇气，
    <s>来源于鸡汤（划掉）</s>，

    来源于<b>真心</b>。只有当你真心想做一件事的时候，你才能迸发出你最大的热情，从而最全力以赴最持之以恒的投入，因此最有可能取得成功——退一万步讲，就算不那么成功，做着自己喜欢做的事，开开心心一辈子也赚到了。
</p>
<p>同样有用的，还有榜样。榜样的力量是无穷的。</p>

<!--换行-->
    我应该扪心自问：
<br />
    我是在做个生意呢，还是在做一件事业？
<br />

<!--标注-->
<i>教育是人照亮人。</i>
<br />
<b>我有没有尽我最大的努力，去照亮他们？</b>