@page
@model Luckystack3.indexModel
@{
    ViewData["Title"] = "index";
}
<!--标题-->
<h1>一起帮·源栈欢迎您！</h1>
<h2>飞哥祝你学习进步，早日年薪过万！</h2>
<h6>要努力啊！</h6>
<!--还可以有h3,h4,h5,h6-->
<!--段落-->
    //难受，看看能不能推送
<!--换行-->
    我应该扪心自问：
<br />
    我是在做个生意呢，还是在做一件事业？
<br />

<!--标注-->
<i>教育是人照亮人。</i>
<br />
<b>我有没有尽我最大的努力，去照亮他们？</b>